body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("Photo 3 Vishal Bansod WCT.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}

/* Full-width input fields */

/*body-header*/

#body-header {
  height: 20vh;
  opacity: 0.8;
  background-image: url("static/pic7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*horizontal list*/
.horizontalline{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.horizontalline li{
  
  list-style: none;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.horizontalline li a{
  font-size: 25px;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
}
.nav-menu li a:hover {
  color: lightgrey;
  /* border-bottom: 1px solid white; */
}

/*my-name*/
#name-social-container {
  /* background-color: teal; */
  height: 100px;
}
.social-icons{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.social-icons li a{
  color: white;
}
#main-part {
  border: black solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Anotherpart {
  border: black solid 2px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.Anotherpart1 {
  border: black solid 2px;
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.para1 {
  font-size: 4rem;
  color: blue;
  font-family: "Big Shoulders Text", cursive;
}

.main-form {
  width: 100%;
}


input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  width: 100%;
  float: right;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
